<a href="https://colab.research.google.com/github/francoriboratig/TP2-Datos/blob/master/Arboles_de_decision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
from google.colab import files
from sklearn.metrics import precision_score, recall_score, accuracy_score
!pip install -q tensorflow-hub
import tensorflow_hub as hub
from sklearn.model_selection import train_test_split

urltrain = "https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/train-features.csv"
urltest = "https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/test-features.csv"

train = pd.read_csv(urltrain)
test = pd.read_csv(urltest)

train.head()

   Unnamed: 0  id keyword  ... stopwords_count contains_countries  contains_cities
0           0   1     NaN  ...               7              False            False
1           1   4     NaN  ...               3               True            False
2           2   5     NaN  ...              13              False            False
3           3   6     NaN  ...               2              False            False
4           4   7     NaN  ...              10              False            False

[5 rows x 20 columns]

In [2]:
test.head()

   Unnamed: 0  id keyword  ... stopwords_count contains_countries  contains_cities
0           0   0     NaN  ...               4              False            False
1           1   2     NaN  ...               7              False            False
2           2   3     NaN  ...              10              False            False
3           3   9     NaN  ...               3              False             True
4           4  11     NaN  ...               6               True            False

[5 rows x 19 columns]

In [3]:
train.columns

Index(['Unnamed: 0', 'id', 'keyword', 'location', 'text', 'target',
       'character_count', 'word_count', 'contains_word_fire',
       'contains_word_storm', 'contains_word_flood', 'contains_word_death',
       'contains_word_love', 'has_mentions', 'amount_of_exclamation_marks',
       'amount_of_interrogation_marks', 'has_link', 'stopwords_count',
       'contains_countries', 'contains_cities'],
      dtype='object')

In [4]:
y_train = train['target']

# HACEMOS UN EMBEDDING PROVISTO POR TensorFlow Hub, por fuera del modelo, de esa forma puedo agregarle features al array

embedding_url = "https://tfhub.dev/google/tf2-preview/gnews-swivel-20dim/1"

hub_layer = hub.KerasLayer(embedding_url,
                           input_shape = [], 
                           dtype = tf.string,
                           trainable = True)

train_text_array = np.asarray(train['text'])
train_text_embedded = hub_layer(train_text_array)
train_text_embedded_array = train_text_embedded.numpy()
train_text_embedded_df = pd.DataFrame(data = train_text_embedded_array)
test_text_array = np.asarray(test['text'])
test_text_embedded = hub_layer(test_text_array)
test_text_embedded_array = train_text_embedded.numpy()
test_text_embedded_df = pd.DataFrame(data = train_text_embedded_array)


x_train = pd.concat([train_text_embedded_df, train.drop(['Unnamed: 0','id','location','text','target','keyword'], axis = 1)], axis=1)
x_test = pd.concat([test_text_embedded_df, test.drop(['Unnamed: 0','id','location','text','keyword'], axis = 1)], axis=1)

#x_train = train.drop(['Unnamed: 0','id','location','text','target','keyword'], axis = 1)
#x_test = test.drop(['Unnamed: 0','id','location','text','keyword'], axis = 1)
x_train.head()

          0         1  ...  contains_countries  contains_cities
0  0.007239  0.156896  ...               False            False
1 -0.498373  1.282888  ...                True            False
2  0.088144 -0.311402  ...               False            False
3 -1.083202  0.694350  ...               False            False
4  0.296060 -0.401119  ...               False            False

[5 rows x 34 columns]

In [5]:
x_train = x_train*1 #Pongo todos los bool en numeros
x_test = x_test*1

In [6]:
# Saving feature names for later use
feature_list = list(x_train.columns)
# Convert to numpy array
features = np.array(x_train)

labels = np.array(y_train)

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, val_features, train_labels, val_labels = train_test_split(features, labels, test_size = 0.25, random_state = 70)

In [8]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 5000,criterion='gini',max_depth=100, random_state = 92)

rf.fit(train_features, train_labels)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=100, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5000,
                       n_jobs=None, oob_score=False, random_state=92, verbose=0,
                       warm_start=False)

In [9]:
# Use the forest's predict method on the test data
preds = rf.predict(val_features)

print (accuracy_score(val_labels,preds))

0.7862394957983193

Aqui adelante, uso xgboost

In [10]:
import xgboost as xgb

D_train = xgb.DMatrix(train_features,label = train_labels)
D_val = xgb.DMatrix(val_features, label = val_labels)

#Primeros hiper par√°metros de prueba
param = {
    'eta': 0.3, 
    'max_depth': 3,  
    'objective': 'multi:softprob',  
    'num_class': 3}

In [11]:
steps = 20
model = xgb.XGBClassifier(eta=0.3,max_depth=4,objective='reg:squarederror',gamma=0,colsample_bytree=1,min_child_weight=2.5,subsample=0.7)

In [12]:
model.fit(train_features,train_labels)

preds = model.predict(val_features)
print (accuracy_score(val_labels,preds))

0.779936974789916

Lgbm lets go!

In [13]:
import lightgbm as lgb

In [14]:
lgb_train = lgb.Dataset(train_features, train_labels)
lgb_eval = lgb.Dataset(val_features,val_labels, reference = lgb_train)

params = {
    'objective':'binary',
    'metric' : 'xentropy',
    'num_leaves' : 30, #Just for trysies
    'learning_rate' : 0.05,
    'feature_fraction': 0.9,
}

gbm = lgb.train(params,
                lgb_train,
                num_boost_round=100,
                valid_sets=lgb_eval,
                early_stopping_rounds=10)

preds = gbm.predict(val_features, num_iteration=gbm.best_iteration)
#print (accuracy_score(val_labels,preds))

[1]	valid_0's xentropy: 0.668424
Training until validation scores don't improve for 10 rounds.
[2]	valid_0's xentropy: 0.654401
[3]	valid_0's xentropy: 0.642293
[4]	valid_0's xentropy: 0.631122
[5]	valid_0's xentropy: 0.620877
[6]	valid_0's xentropy: 0.611165
[7]	valid_0's xentropy: 0.603031
[8]	valid_0's xentropy: 0.595522
[9]	valid_0's xentropy: 0.588395
[10]	valid_0's xentropy: 0.58197
[11]	valid_0's xentropy: 0.57593
[12]	valid_0's xentropy: 0.569914
[13]	valid_0's xentropy: 0.564906
[14]	valid_0's xentropy: 0.559955
[15]	valid_0's xentropy: 0.555298
[16]	valid_0's xentropy: 0.551361
[17]	valid_0's xentropy: 0.546272
[18]	valid_0's xentropy: 0.542452
[19]	valid_0's xentropy: 0.539
[20]	valid_0's xentropy: 0.535494
[21]	valid_0's xentropy: 0.532489
[22]	valid_0's xentropy: 0.529409
[23]	valid_0's xentropy: 0.526336
[24]	valid_0's xentropy: 0.5229
[25]	valid_0's xentropy: 0.52017
[26]	valid_0's xentropy: 0.517768
[27]	valid_0's xentropy: 0.515657
[28]	valid_0's xentropy: 0.513221
[29]	valid_0's xentropy: 0.511399
[30]	valid_0's xentropy: 0.509401
[31]	valid_0's xentropy: 0.507508
[32]	valid_0's xentropy: 0.505478
[33]	valid_0's xentropy: 0.503607
[34]	valid_0's xentropy: 0.501706
[35]	valid_0's xentropy: 0.500427
[36]	valid_0's xentropy: 0.499022
[37]	valid_0's xentropy: 0.497938
[38]	valid_0's xentropy: 0.496338
[39]	valid_0's xentropy: 0.494558
[40]	valid_0's xentropy: 0.493335
[41]	valid_0's xentropy: 0.49223
[42]	valid_0's xentropy: 0.491064
[43]	valid_0's xentropy: 0.490118
[44]	valid_0's xentropy: 0.489297
[45]	valid_0's xentropy: 0.488145
[46]	valid_0's xentropy: 0.487362
[47]	valid_0's xentropy: 0.487009
[48]	valid_0's xentropy: 0.486469
[49]	valid_0's xentropy: 0.48574
[50]	valid_0's xentropy: 0.485453
[51]	valid_0's xentropy: 0.484601
[52]	valid_0's xentropy: 0.483594
[53]	valid_0's xentropy: 0.48318
[54]	valid_0's xentropy: 0.482107
[55]	valid_0's xentropy: 0.48135
[56]	valid_0's xentropy: 0.480646
[57]	valid_0's xentropy: 0.480209
[58]	valid_0's xentropy: 0.479696
[59]	valid_0's xentropy: 0.479251
[60]	valid_0's xentropy: 0.47898
[61]	valid_0's xentropy: 0.478538
[62]	valid_0's xentropy: 0.478348
[63]	valid_0's xentropy: 0.477917
[64]	valid_0's xentropy: 0.477435
[65]	valid_0's xentropy: 0.476922
[66]	valid_0's xentropy: 0.47651
[67]	valid_0's xentropy: 0.476068
[68]	valid_0's xentropy: 0.475793
[69]	valid_0's xentropy: 0.475548
[70]	valid_0's xentropy: 0.475013
[71]	valid_0's xentropy: 0.47503
[72]	valid_0's xentropy: 0.475158
[73]	valid_0's xentropy: 0.475013
[74]	valid_0's xentropy: 0.474737
[75]	valid_0's xentropy: 0.475024
[76]	valid_0's xentropy: 0.474793
[77]	valid_0's xentropy: 0.474792
[78]	valid_0's xentropy: 0.474749
[79]	valid_0's xentropy: 0.474762
[80]	valid_0's xentropy: 0.474901
[81]	valid_0's xentropy: 0.474742
[82]	valid_0's xentropy: 0.474395
[83]	valid_0's xentropy: 0.474175
[84]	valid_0's xentropy: 0.474071
[85]	valid_0's xentropy: 0.473862
[86]	valid_0's xentropy: 0.473836
[87]	valid_0's xentropy: 0.473759
[88]	valid_0's xentropy: 0.47373
[89]	valid_0's xentropy: 0.473815
[90]	valid_0's xentropy: 0.473904
[91]	valid_0's xentropy: 0.473845
[92]	valid_0's xentropy: 0.473667
[93]	valid_0's xentropy: 0.47358
[94]	valid_0's xentropy: 0.47363
[95]	valid_0's xentropy: 0.473308
[96]	valid_0's xentropy: 0.473292
[97]	valid_0's xentropy: 0.473262
[98]	valid_0's xentropy: 0.473549
[99]	valid_0's xentropy: 0.473863
[100]	valid_0's xentropy: 0.473726
Did not meet early stopping. Best iteration is:
[97]	valid_0's xentropy: 0.473262