<a href="https://colab.research.google.com/github/francoriboratig/TP2-Datos/blob/master/Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras as krs
import tensorflow as tsf
from sklearn.preprocessing import StandardScaler
from keras.preprocessing.text import Tokenizer
from keras.layers import Conv1D,Conv2D,MaxPooling2D
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
import itertools


url1 = 'https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/train-featuresB.csv'
url2 = 'https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/test-featuresB.csv'

train = pd.read_csv(url1)
test = pd.read_csv(url2)

train.head(5)

   Unnamed: 0  id  ...                                               text target
0           0   1  ...          deed reason earthquak may allah forgiv us      1
1           1   4  ...               forest fire near la rong sask canada      1
2           2   5  ...  resid ask shelter place notifi offic evacu she...      1
3           3   6  ...        peopl receiv wildfir evacu order california      1
4           4   7  ...  got sent photo rubi alaska smoke wildfir pour ...      1

[5 rows x 6 columns]

In [36]:
test.head(5)

   Unnamed: 0  id  ... location                                               text
0           0   0  ...      NaN                 Just happened a terrible car crash
1           1   2  ...      NaN  Heard about #earthquake is different cities, s...
2           2   3  ...      NaN  there is a forest fire at spot pond, geese are...
3           3   9  ...      NaN           Apocalypse lighting. #Spokane #wildfires
4           4  11  ...      NaN      Typhoon Soudelor kills 28 in China and Taiwan

[5 rows x 5 columns]

In [37]:
data_target = train[['target']]
data_train=train.drop(['Unnamed: 0','id', 'keyword', 'location', 'target'],axis = 1)
data_test=test.drop(['Unnamed: 0','id', 'keyword', 'location'],axis = 1)

#scaler = StandardScaler()
#scaler.fit(data_train)

#data_train=scaler.transform(data_train)
#data_test=scaler.transform(data_test)

countV = CountVectorizer(max_features=10000,ngram_range=(1,3))

data_train = countV.fit_transform(data_train['text']).toarray()
data_train.shape

(7613, 10000)

In [38]:
tokenizer = Tokenizer()
classifier=MultinomialNB()

In [39]:
x_train, x_validation, y_train, y_validation = model_selection.train_test_split(data_train, data_target, test_size=0.3, random_state=0)

countV.get_params()
countVDF = pd.DataFrame(x_train, columns=countV.get_feature_names())

In [40]:

#model=krs.Sequential()
#model.add(krs.layers.embeddings)
#model.add(Conv1D(128, kernel_size=(3),activation='relu'))
#model.add(krs.layers.Dense(8, input_dim=2, activation='relu'))
#model.add(krs.layers.Dense(8, activation='relu'))
#model.add(krs.layers.Dense(2, activation='softmax'))
#model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
#model.fit(x_train, y_train, epochs=12, batch_size=128,validation_data=(x_validation,y_validation))

In [41]:
classifier.fit(x_train, y_train)
prediction = classifier.predict(x_validation)
prediction

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 1, ..., 1, 1, 1])

In [42]:
accuracy=metrics.accuracy_score(y_validation, prediction)
accuracy

0.8086690017513135

In [47]:
#countV = CountVectorizer(max_features=1,ngram_range=(1,3))

#data_test = countV.fit_transform(data_test).toarray()
#data_test.shape


classifier.fit(data_train, data_target)
#prediction = classifier.predict(data_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)