In [24]:
import pandas as pd
import numpy as np
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

%pylab inline

url='https://raw.githubusercontent.com/JulioCastillo1/TP1-Datos/master/train.csv'
tweets = pd.read_csv(url)
tweets.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Populating the interactive namespace from numpy and matplotlib

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [25]:
tweets['character_count'] = tweets['text'].apply(len)
tweets.head()

   id keyword  ... target character_count
0   1     NaN  ...      1              69
1   4     NaN  ...      1              38
2   5     NaN  ...      1             133
3   6     NaN  ...      1              65
4   7     NaN  ...      1              88

[5 rows x 6 columns]

In [26]:
def word_count(text):
  return len(text.split())
  
tweets['word_count'] = tweets['text'].apply(word_count)
tweets.head()

   id keyword location  ... target  character_count  word_count
0   1     NaN      NaN  ...      1               69          13
1   4     NaN      NaN  ...      1               38           7
2   5     NaN      NaN  ...      1              133          22
3   6     NaN      NaN  ...      1               65           8
4   7     NaN      NaN  ...      1               88          16

[5 rows x 7 columns]

In [27]:
def cw_fire(text):
  returnable = 0
  if (text.find('fire') != -1):
    returnable = 1
  return returnable

tweets['contains_word_fire'] = tweets['text'].apply(cw_fire)
tweets.head()

   id keyword location  ... character_count  word_count  contains_word_fire
0   1     NaN      NaN  ...              69          13                   0
1   4     NaN      NaN  ...              38           7                   1
2   5     NaN      NaN  ...             133          22                   0
3   6     NaN      NaN  ...              65           8                   1
4   7     NaN      NaN  ...              88          16                   1

[5 rows x 8 columns]

In [28]:
def cw_storm(text):
  returnable = 0
  if (text.find('storm') != -1):
    returnable = 1
  return returnable

def cw_flood(text):
  returnable = 0
  if (text.find('flood') != -1):
    returnable = 1
  return returnable

def cw_death(text):
  returnable = 0
  if (text.find('death') != -1):
    returnable = 1
  return returnable

def cw_love(text):
  returnable = 0
  if (text.find('love') != -1):
    returnable = 1
  return returnable

tweets['contains_word_storm'] = tweets['text'].apply(cw_storm)
tweets['contains_word_flood'] = tweets['text'].apply(cw_flood)
tweets['contains_word_death'] = tweets['text'].apply(cw_death)
tweets['contains_word_love'] = tweets['text'].apply(cw_love)
tweets.head()

   id keyword  ... contains_word_death contains_word_love
0   1     NaN  ...                   0                  0
1   4     NaN  ...                   0                  0
2   5     NaN  ...                   0                  0
3   6     NaN  ...                   0                  0
4   7     NaN  ...                   0                  0

[5 rows x 12 columns]

In [29]:
tweets['has_mentions'] = tweets['text'].str.contains('@')
tweets['amount_of_exclamation_marks'] = tweets['text'].str.count('\!')
tweets['amount_of_interrogation_marks'] = tweets['text'].str.count('\?')
tweets['has_link'] = (tweets['text'].str.contains('http://') | tweets['text'].str.contains('https://') )

tweets.iloc[30:40]

    id keyword  ... amount_of_interrogation_marks has_link
30  44     NaN  ...                             0    False
31  48  ablaze  ...                             0     True
32  49  ablaze  ...                             0     True
33  50  ablaze  ...                             0     True
34  52  ablaze  ...                             0    False
35  53  ablaze  ...                             0     True
36  54  ablaze  ...                             0    False
37  55  ablaze  ...                             0     True
38  56  ablaze  ...                             0     True
39  57  ablaze  ...                             0    False

[10 rows x 16 columns]

In [30]:
# Esto demora bastantes segundos
stopwordsList = stopwords.words('english')
tweets['stopwords'] = ' '
tweets['stopwords'] = tweets['stopwords'].astype(str)
tweets['stopwords_count'] = 0
tweets.loc[:,'stopwords'] = '|'.join(word for word in (tweets.loc[:,'text']).to_string().split() if word in stopwordsList)
tweets.loc[:,'stopwords_count'] = tweets.loc[:,'text'].str.count(tweets.loc[:,'stopwords'].to_string())
tweets = tweets.drop(['stopwords'], axis=1)

tweets.head()

   id keyword  ... has_link stopwords_count
0   1     NaN  ...    False               7
1   4     NaN  ...    False               3
2   5     NaN  ...    False              13
3   6     NaN  ...    False               2
4   7     NaN  ...    False              10

[5 rows x 17 columns]