<a href="https://colab.research.google.com/github/francoriboratig/TP2-Datos/blob/master/Red%20neuronal%20con%20text%20embeddings%20y%20features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [432]:
import numpy as np
import tensorflow as tf
import pandas as pd
from google.colab import files

!pip install -q tensorflow-hub
import tensorflow_hub as hub
from sklearn.model_selection import train_test_split

print("Version: ", tf.__version__)
print("Eager mode: ", tf.executing_eagerly())
print("Hub version: ", hub.__version__)
print("GPU is", "available" if tf.config.experimental.list_physical_devices("GPU") else "NOT AVAILABLE")

Version:  2.2.0
Eager mode:  True
Hub version:  0.8.0
GPU is NOT AVAILABLE

In [433]:
# CARGAMOS LOS CSV
url_train_con_features = 'https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/train-features.csv'
url_test_con_features = 'https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/test-features.csv'

train_df = pd.read_csv(url_train_con_features)
test_df = pd.read_csv(url_test_con_features)

train_df.head()

   Unnamed: 0  id keyword  ... stopwords_count contains_countries  contains_cities
0           0   1     NaN  ...               7              False            False
1           1   4     NaN  ...               3               True            False
2           2   5     NaN  ...              13              False            False
3           3   6     NaN  ...               2              False            False
4           4   7     NaN  ...              10              False            False

[5 rows x 20 columns]

In [434]:
# LIMPIAMOS Y CHUSMEAMOS
train_df = train_df.drop(['Unnamed: 0', 'keyword', 'location'], axis = 1)
train_df.shape

(7613, 17)

In [435]:
target_df = train_df.pop('target')

In [436]:
# HACEMOS UN EMBEDDING PROVISTO POR TensorFlow Hub, por fuera del modelo, de esa forma puedo agregarle features al array

embedding_url = "https://tfhub.dev/google/tf2-preview/gnews-swivel-20dim/1"

hub_layer = hub.KerasLayer(embedding_url,
                           input_shape = [], 
                           dtype = tf.string,
                           trainable = True)

train_text_array = np.asarray(train_df['text'])
train_text_embedded = hub_layer(train_text_array)
train_text_embedded_array = train_text_embedded.numpy()
train_text_embedded_df = pd.DataFrame(data = train_text_embedded_array)

train_text_embedded_df

            0         1         2   ...        17        18        19
0     0.007239  0.156896  1.295307  ... -0.640868 -0.569074  0.040001
1    -0.498373  1.282888 -0.188361  ...  1.576216 -0.378781  0.942368
2     0.088144 -0.311402  0.604415  ... -1.238801 -0.255011  0.695272
3    -1.083202  0.694350 -0.293344  ... -1.546905  0.456249  0.117063
4     0.296060 -0.401119  0.260654  ... -0.749319 -1.216560  0.413135
...        ...       ...       ...  ...       ...       ...       ...
7608  0.851313  1.155238 -0.563759  ... -0.244320 -0.842489  0.383638
7609  0.586044  1.064535  1.108355  ...  0.137504 -1.611735 -0.096220
7610 -1.030287  0.200154 -0.691702  ...  0.592320  1.134160  0.184020
7611  0.192334 -0.517235 -0.762114  ... -0.532709 -1.173615  0.009434
7612 -1.277798  0.167801  0.720873  ...  1.095366  0.926221  0.419700

[7613 rows x 20 columns]

In [437]:
# MANDALE MECHA CON LOS FEATURES MUÑECO
train_df = train_df.drop(['id', 'text'],axis = 1)
train_df = pd.concat([train_text_embedded_df, train_df], axis=1)

train_df['has_mentions'] = train_df['has_mentions'].astype(int)
train_df['has_link'] = train_df['has_link'].astype(int)
train_df['contains_countries'] = train_df['contains_countries'].astype(int)
train_df['contains_cities'] = train_df['contains_cities'].astype(int)

train_df

             0         1  ...  contains_countries  contains_cities
0     0.007239  0.156896  ...                   0                0
1    -0.498373  1.282888  ...                   1                0
2     0.088144 -0.311402  ...                   0                0
3    -1.083202  0.694350  ...                   0                0
4     0.296060 -0.401119  ...                   0                0
...        ...       ...  ...                 ...              ...
7608  0.851313  1.155238  ...                   0                0
7609  0.586044  1.064535  ...                   0                0
7610 -1.030287  0.200154  ...                   0                0
7611  0.192334 -0.517235  ...                   1                1
7612 -1.277798  0.167801  ...                   0                0

[7613 rows x 34 columns]

In [438]:
# SE DIVIDE UNA PARTE DEL SET PARA PODER EVALUAR LOS RESULTADOS

train_x, validation_x, train_y, validation_y = train_test_split(train_df, target_df, test_size=0.3, random_state=0)

In [439]:
# ARMAMOS EL MODELO
cantidad_columnas = train_x.shape[1]
input_shape = tuple([cantidad_columnas])

model = tf.keras.Sequential()
model.add(tf.keras.layers.LayerNormalization(input_shape = input_shape))
model.add(tf.keras.layers.Dense(64, activation = 'relu'))
model.add(tf.keras.layers.Dropout(rate=0.2))
model.add(tf.keras.layers.LayerNormalization())
model.add(tf.keras.layers.Dense(14, activation = 'relu'))
model.add(tf.keras.layers.Dense(1))

model.summary()

Model: "sequential_33"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
layer_normalization_63 (Laye (None, 34)                68
_________________________________________________________________
dense_99 (Dense)             (None, 64)                2240
_________________________________________________________________
dropout_30 (Dropout)         (None, 64)                0
_________________________________________________________________
layer_normalization_64 (Laye (None, 64)                128
_________________________________________________________________
dense_100 (Dense)            (None, 14)                910
_________________________________________________________________
dense_101 (Dense)            (None, 1)                 15
=================================================================
Total params: 3,361
Trainable params: 3,361
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# COMPILAMOS Y ENTRENAMOS

epochs = 300

model.save_weights('model.h5') #esto es para luego resetear el entrenamiento

model.compile(optimizer = 'adam',
              loss = tf.keras.losses.BinaryCrossentropy(from_logits = True),
              metrics = ['accuracy'])

history = model.fit(train_x, train_y, batch_size=1024,
                    epochs = epochs,
                    verbose = 1)

In [441]:
# EVALUAMOS CON EL SET DE VALIDACION
loss, precision = model.evaluate(validation_x, validation_y)
print('Precisión: %.2f' % (precision*100))

72/72 [==============================] - 0s 2ms/step - loss: 0.4942 - accuracy: 0.7728
Precisión: 77.28

In [ ]:
# SE REENTRENA CON EL SET COMPLETO

model.load_weights('model.h5') #se resetea el entrenamiento previo

history = model.fit(train_df, target_df, batch_size = 1024,
                   epochs = epochs,
                   verbose = 1)

In [443]:
# ARMAMOS LA PREDICCIÓN
test_text_array = np.asarray(test_df['text'])
test_text_embedded = hub_layer(test_text_array)
test_text_embedded_array = test_text_embedded.numpy()
test_text_embedded_df = pd.DataFrame(data = test_text_embedded_array)

test_df = pd.concat([test_text_embedded_df, test_df], axis=1)

test_df = test_df.drop(['Unnamed: 0', 'keyword', 'location', 'text'],axis = 1)

test_df['has_mentions'] = test_df['has_mentions'].astype(int)
test_df['has_link'] = test_df['has_link'].astype(int)
test_df['contains_countries'] = test_df['contains_countries'].astype(int)
test_df['contains_cities'] = test_df['contains_cities'].astype(int)

# ARMAMOS LOS DATOS EN EL FORMATO QUE PIDE KAGGLE
export_df = pd.DataFrame()
export_df['id'] = test_df.pop('id')
export_df = export_df.set_index('id')
export_df['target'] = (model.predict(test_df) > 0.5).astype("int32")

export_df

       target
id
0           0
2           1
3           1
9           1
11          1
...       ...
10861       0
10865       0
10868       1
10874       0
10875       1

[3263 rows x 1 columns]

In [444]:
# DOWNLOAD !
export_df.to_csv('submit.csv')
files.download('submit.csv')