In [4]:
import pandas as pd
from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

batch_size = 128
num_classes = 10
epochs = 12

url_train_con_features = 'https://raw.githubusercontent.com/francoriboratig/TP2-Datos/master/train-features.csv'

train = pd.read_csv(url_train_con_features)

In [6]:
train.head()

   Unnamed: 0  id keyword  ... stopwords_count contains_countries  contains_cities
0           0   1     NaN  ...               7              False            False
1           1   4     NaN  ...               3               True            False
2           2   5     NaN  ...              13              False            False
3           3   6     NaN  ...               2              False            False
4           4   7     NaN  ...              10              False            False

[5 rows x 20 columns]